{% extends "list.html" %}

{% block content %}
	{{ block.super }}
	<a href="{% url bm.client.views.messages_send %}">Send New Transmission</a>
{% endblock %}

{% block list_row %}
	<span id="message{{object.id}}" {% if object.new %}class="messages_new"{% endif %}>
		{{ block.super }}
	</span>
{% endblock %}

{% block list_actions %}
	<td>
		<a href="{% url bm.client.views.messages_read id=object.id %}">Receive</a>
		<a href="{% url bm.client.views.messages_send %}?user_to={{object.user_from.id}}&subject=Re: {{object.subject}}">Reply</a>
		<a href="{% url bm.client.views.messages_delete id=object.id %}">Delete</a>
	</td>
{% endblock %}